@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Software is my passion. In my free time, I love to focus on Artificial Intelligence and Music Production. I have branched out into mobile development, 3d modeling as well as data manipulation. My goal is to find a job that doesn't just put me to work but engages me and teaches me every day. I have a huge thirst to learn and hope I can find a place where I can thrive.</p>
