
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<h3>VOID</h3>

<p>Void is a 2d Spaceship Shooter Developed in GameMaker</p>
<iframe width="854" height="480" src="https://www.youtube.com/embed/2YCrTMw5zI4" frameborder="4" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<h3>VOID III: The Final Journey</h3>
<p>Void III is a Spaceship Shooter Developed with XNA, C# and Direct X</p>
<iframe width="854" height="480" src="https://www.youtube.com/embed/iGad4_4Zamg" frameborder="4" allow="autoplay; encrypted-media" allowfullscreen></iframe>