
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<div class="wrapper">

    <div class="col-md-4">
        <h3>VOID</h3>
        <p>Void is a 2d Spaceship Shooter Developed in GameMaker</p>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/2YCrTMw5zI4" frameborder="4" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
        <h3>VOID III: The Final Journey</h3>
        <p>Void III is a Spaceship Shooter Developed with XNA, C# and Direct X</p>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/iGad4_4Zamg" frameborder="4" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br />
    <div class="col-md-4">
        <h3>Remedial</h3>
        <p>All tracks were made from scratch using Reason. This one is my favorite</p>
        <iframe width="854" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301769235&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
    <br />
    <div class="col-md-4">
        <h3>Melodiam</h3>
        <iframe width="854" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/334857527&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><br />
        <br />
        <h3>Bridge the Gap</h3>
        <p>Track made for my mobile app Bridge The Gap:</p> <a href=" https://play.google.com/store/apps/details?id=com.djmdevelopers.bridgethegapdemo ">Click here to view app in the google play store</a>
        <iframe width="854" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152487052&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
    </div>
</div>
