body {
}
.circle {
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #d9d9d9;
    height: 30px;
    width: 30px;
    padding: 8px;
    margin: 0px 8px;
}

.left {
    animation: 2s anileft infinite;
}

.middle {
    animation: 2s animiddle infinite;
}

.right {
    animation: 2s aniright infinite;
}

@keyframes anileft {
    0% {
        background-color: white;
    }

    25% {
        background-color: #999;
    }

    50% {
        background-color: #079CFF;
    }

    75% {
        background-color: #C9EAFF;
    }
}

@keyframes animiddle {
    0% {
        background-color: white;
    }

    35% {
        background-color: #999;
    }

    60% {
        background-color: #079CFF;
    }

    85% {
        background-color: #C9EAFF;
    }
}

@keyframes aniright {
    0% {
        background-color: white;
    }

    45% {
        background-color: #999;
    }

    70% {
        background-color: #079CFF;
    }

    95% {
        background-color: #C9EAFF;
    }
}
